<header>
        <nav class="container">
            <a href="{% url 'clientapp:client_dashboard'%}">
                <div class="logo">Echo<span>slot</span></div>
                </a>
            <div class="nav-links">
                <a href="{% url 'clientapp:client_dashboard' %}">
                    Dashboard
                </a>
                <a href="{% url 'serviceapp:find_serviceproviders' %}">Providers</a>
                <a href="{% url 'clientapp:client_appointment' %}">Appointments</a>
                <a href="{% url 'clientapp:profile_settings' %}" >Profile</a>
            </div>
            <div class="user-menu"></div>
        </nav>
    </header>