{% extends 'clientbase.html' %}

{% block content %}

<div class="container">
    <div class="section-header">
        <h2 class="section-title">Your Appointments</h2>
    </div>
    <div class="tab-navigation">
        <button 
            class="tab-btn active" 
            hx-get="upcoming-appointments/"
            hx-target="#appointment-content"
            hx-swap="innerHTML"
            hx-trigger="click"
            hx-on:click="document.querySelectorAll('.tab-btn').forEach(tab => tab.classList.remove('active')); this.classList.add('active')">
            Upcoming
        </button>
        <button 
            class="tab-btn"
            hx-get="past-appointments/"
            hx-target="#appointment-content"
            hx-swap="innerHTML"
            hx-trigger="click"
            hx-on:click="document.querySelectorAll('.tab-btn').forEach(tab => tab.classList.remove('active')); this.classList.add('active')">
            Past
        </button>
        <button 
            class="tab-btn"
            hx-get="cancelled-appointments/"
            hx-target="#appointment-content"
            hx-swap="innerHTML"
            hx-trigger="click"
            hx-on:click="document.querySelectorAll('.tab-btn').forEach(tab => tab.classList.remove('active')); this.classList.add('active')">
            Cancelled
        </button>
    </div>
    
      <div class="appointments-container">
        <div id="appointment-content" hx-get="upcoming-appointments/" hx-trigger="load" hx-swap="innerHTML">     
            
        </div>
    </div>
</div>
{% endblock %}

